OPENAI_KEY=<API ключ openai или провайдера>
FOLDER_ID=<id папки проекта в yandex cloud>
YC_API_KEY=<api ключ yandex cloud с правом генерации изображений>
OPENAI_BASE_URL=<endpoint для доступа к OpenAI API>
N8N_HOST=<IP адрес сервера или localhost>
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=secret
TG_CHAT_ID=<id чата telegram для публикации постов с минусом>


