# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# виртуальное окружение
venv/
env/
.venv/

# dotenv
.env
.env.*
*.env
!.env.example

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# Системные файлы
# =========================
.DS_Store
Thumbs.db

# =========================
# Логи
# =========================
*.log

# =========================
# pytest
# =========================
.pytest_cache/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# build / dist
# =========================
dist/
build/
*.egg-info/
